@page
@model Library_Web.Pages.Books.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<main role="main">
    <div class="container mt-4">
        <div id="thongbao" class="alert alert-danger d-none face" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="card">
            <div class="container-fliud">
                <form name="frmsanphamchitiet" id="frmsanphamchitiet" method="post"
                      action="/php/twig/frontend/giohang/themvaogiohang">
                    <input type="hidden" name="sp_ma" id="sp_ma" value="@Model.book.BookId">
                    <input type="hidden" name="sp_ten" id="sp_ten" value="@Model.book.Title">
                    <input type="hidden" name="sp_gia" id="sp_gia" value="@Model.book.Price">
                    <input type="hidden" name="hinhdaidien" id="hinhdaidien" value="samsung-galaxy-tab-10.jpg">

                    <div class="wrapper row">
                        <div class="preview col-md-6">
                            <div class="preview-pic tab-content">
                                <div class="tab-pane active" id="pic-1">
                                    <img src="@(Model.book.ImageLink)" style="width: 600px; height: 450px; object-fit: cover;" alt="@Model.book.Title">
                                </div>
                            </div>
                        </div>
                        <div class="details col-md-6">
                            <h3 class="product-title">@Model.book.Title</h3>
                            <div class="rating d-flex justify-content-center align-items-center mb-2">
                                <div class="stars d-flex">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= 5) // Rating là giá trị đánh giá từ 1-5
                                        {
                                            <span class="fa fa-star checked"></span> <!-- Sao đã đánh giá -->
                                        }
                                        else
                                        {
                                            <span class="fa fa-star"></span> <!-- Sao chưa được đánh giá -->
                                        }
                                    }
                                </div>
                            </div>
                            <h5> Giá: @String.Format("{0:0,0}", Model.book.Price) vnđ</h5>
                            <h5 class="review-no">
                                Lượt xem: @Model.book.Views
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <a asp-page="/Members/AddFavorite" class="btn btn-primary" asp-route-id="@Model.book.BookId">
                                        <span class="fa fa-heart text-danger"></span>
                                        <span class="favorite-text">Yêu thích</span>
                                    </a>
                            </h5>
                            <h5 class="sizes">
                                Số lượng có còn lại: <span>@Model.book.AvailableCopies</span>
                            </h5>
                            <div class="form-group">
                                <button class="btn btn-primary">Mua Sách</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>

        <div class="card mt-4">
            <div class="container-fluid">
                <h3>Giới Thiệu</h3>
                <div class="row">
                    <div class="col">
                        <p>Tác giả: <strong>@Model.book.Author.FullName</strong></p>
                        <p>Năm xuất bản: <strong>@Model.book.PublishYear</strong></p>
                        <p>Thể loại: <strong>@Model.book.Category.Name</strong></p>
                        <p>Nhà xuất bản: <strong>@Model.book.Publisher.Name</strong></p>
                        <p class="product-description">@Model.book.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
