@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main role="main">
    <!-- Danh sách sản phẩm -->
    <section class="jumbotron text-center">
        <div class="container">

            <p class="lead text-muted">
                <h2 class="jumbotron-heading">Thư Viện FPT</h2>
            </p>
        </div>
    </section>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Thư Viện FPT
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Mã Sách</th>
                                    <th scope="col"></th>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Tác Giả</th>
                                    <th scope="col">Thể Loại</th>
                                    <th scope="col">Nhà Xuất Bản</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Còn Lại</th>
                                    <th scope="col">Lượt Xem</th>
                                    @* <th scope="col">Lượt Thích</th> *@
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.book)
                                {
                                    <tr>
                                        <td>@item.BookId</td>
                                        <td>
                                            <a asp-route-id="@item.BookId" asp-page="/Books/Detail" class="form-group mb-3 text-center">
                                                <img src="@item.ImageLink" alt="Book Image" style="width: 150px; height: 100px; object-fit: cover;">
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-route-id="@item.BookId" asp-page="/Books/Detail" class="text-decoration-none">
                                                @item.Title
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-route-id="@item.AuthorId" asp-page="" class="text-decoration-none">
                                                @item.Author.FullName
                                            </a>
                                        </td>
                                        <td>@item.Category.Name</td>
                                        <td>@item.Publisher.Name</td>
                                        <td>@item.Price</td>
                                        <td>@item.AvailableCopies</td>
                                        <td>@item.Views</td>
                                        @* <td>@item.Views</td> *@
                                        <td>
                                            <div class="d-flex justify-content-between align-items-center mb-2">
                                                <form method="post" asp-page="/Members/AddFavorite" asp-route-id="@item.BookId" class="favorite-form">
                                                    <button type="submit" class="btn btn-primary">
                                                        <span class="fa fa-heart text-danger"></span>
                                                        <span class="favorite-text">Yêu thích</span>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- End block content -->
</main>